body {
    height: 100vh;
    background-color: rgb(202, 197, 197);
    padding: 0;
    margin: 0;
}

.menu {
    padding: 40px;
    height: 30px;
    display: flex;
    background-color: rgb(4, 4, 48);
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menulaterale{
    display: flex;
}

.item{
    font-size: 20px;
    font-weight: normal;
    padding: 12px;
    margin-right: 6px;
}

.item:hover {
    cursor: pointer;
    border-radius: 19px;
    background-color: rgba(79, 79, 146, 0.507);
    
}

.imag {
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/1115628780250218546/1221104887283318904/esistente_a_tratti_wallpaper_for_a_website_about_repairing_mobi_527a5e8e-fcde-44ab-a74f-29f3b2866ea7.png?ex=66115d8c&is=65fee88c&hm=fc6e1e18ea547659891f6e07aed246ff4f5412c46bdad23f20bf4fb91278bbe7&");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.messaggio {
    background-color: rgba(11, 11, 11, 0.81);
    width: 400px;
    height: 180px;
    color: white;
    padding: 30px;
}

.bottone {
    background-color: rgba(11, 11, 11, 0.95);
    color: white;
    width: 100px;
    height: 30px;
    padding: 10px;
    
}

.bottone h3 {
    margin: 0;
    padding: 0;
}

.sottoriga {
    width: 460px;
    padding: 30px;
    padding: 0;
    display: flex;
}

.bottone2 {
    background-color: rgb(60, 35, 223);
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none; 
}

.bottone2:hover {
    background-color: rgb(54, 54, 238);
}

.bottone2 h1 {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 22, 22);
    color: wheat;
    height: 100px;
    flex-direction: row;
    padding: 30px;
}

.menulaterale-footer {
    display: flex;
    margin: 10px;
    

} 

.item-footer {
    font-size: 17px;
    margin-left: 25px;
}

.item-footer a {
    text-decoration: none !important;
    color: wheat;

}

.item a {
    text-decoration: none !important;
    color: white;

}

.selected {
    font-size: 20px;
    font-weight: normal;
    padding: 12px;
    border-radius: 19px;
    background-color: rgb(60, 60, 169);
    margin-right: 6px;
}

.selected a {
    text-decoration: none !important;
    color: white;
}

.banda {
    max-width: 250px;
    height: 80%;
    background-color: #333333;
    float: left;
    border-radius: 8px;
    margin: 32px;
    padding: 15px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), #333333, #333333);
    /*transition: background-image 2.5s; /* Applica la transizione solo all'immagine di sfondo */
    transition: 0.7s;
    flex: 1;
}

.banda:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #e89037, #6e3801); /* Aggiorna solo l'immagine di sfondo al passaggio del mouse */
    
}

.screen2 {
    background-color: rgb(190, 188, 191);
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banda h2 {
    color: white;
    text-align: center;
}

.banda hr {
    width: 90%;
    height: 0.3px;
}

.banda p {
    color: white;
}

.inner-containr {
    width: 100%;
    text-align: left;
}

.img-banda {
    width: 100%;
}

@media screen and (max-width:900px) {
    .testo {
        
    }

    .screen2 {
        background-color: rgb(190, 188, 191);
        width: 100%;
        height: 700px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .banda {
        max-width: 80%;
        height: 150px;
        background-color: #333333;
        display: flex;
        border-radius: 8px;
        margin: 20px;
        padding: 15px;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), #333333, #333333);
        /*transition: background-image 2.5s; /* Applica la transizione solo all'immagine di sfondo */
        transition: 0.7s;
        flex: 1;
        justify-content: center;
        align-items: center;
        
        
    }

    .banda hr {
        width: 4px;
        height: 90%;
        /*border-left: 2px solid black;*/
        border-width: 0;
        background-color: grey;
        margin-left: 20px;
        margin-right: 20px;
    }

    .inner-containr {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-banda {
        height: 100px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .banda h2 {
        width: 200px;
    }
   
}

