body {
    height: 100vh;
    background-color: rgb(202, 197, 197);
    padding: 0;
    margin: 0;
}

.menu {
    padding: 40px;
    height: 30px;
    display: flex;
    background-color: rgba(25, 162, 12, 0.889);
    justify-content: space-between;
    align-items: center;
}

.menulaterale{
    display: flex;
}

.item{
    font-size: 20px;
    font-weight: normal;
    padding: 12px;
}

.item:hover {
    cursor: pointer;
    border-radius: 19px;
    background-color: rgba(79, 79, 146, 0.507);
    
}

.imag {
    height: 100vh;
    background-image: url("https://st2.depositphotos.com/1181365/5631/i/450/depositphotos_56311727-stock-photo-tweezers-with-detail-and-disassembled.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.messaggio {
    background-color: rgba(11, 11, 11, 0.81);
    width: 400px;
    height: 180px;
    color: white;
    padding: 30px;
}

.bottone {
    background-color: rgba(11, 11, 11, 0.95);
    color: white;
    width: 100px;
    height: 30px;
    padding: 10px;
    
}

.bottone h3 {
    margin: 0;
    padding: 0;
}

.sottoriga {
    width: 460px;
    padding: 30px;
    padding: 0;
    display: flex;
}

.bottone2 {
    background-color: rgb(60, 35, 223);
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none; 
}

.bottone2:hover {
    background-color: rgb(54, 54, 238);
}

.bottone2 h1 {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 22, 22);
    color: wheat;
    height: 100px;
    flex-direction: row;
    padding: 30px;
}

.menulaterale-footer {
    display: flex;
    margin: 10px;
    

} 

.item-footer {
    font-size: 17px;
    margin-left: 25px;
}

.item-footer a {
    text-decoration: none !important;
    color: wheat;

}

.item a {
    text-decoration: none !important;
    color: rgb(0, 0, 0);

}

.selected {
    font-size: 20px;
    font-weight: normal;
    padding: 12px;
    border-radius: 19px;
    background-color: rgb(60, 60, 169);
}

.selected a {
    text-decoration: none !important;
    color: white;
}

.banda {
    max-width: 250px;
    height: 80%;
    background-color: #333333;
    float: left;
    border-radius: 8px;
    margin: 32px;
    transition: background 0.5s;
    padding: 15px;
}

.screen2 {
    background-color: rgb(190, 188, 191);
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banda h2 {
    color: white;
    text-align: center;
}

.banda hr {
    width: 90%;
    height: 0.3px;
}

.banda p {
    color: white;
}

.inner-containr {
    width: 90%;
    text-align: left;
}

.img-banda {
    width: 90%;
}

.banda:hover {
    background: linear-gradient(0.35turn, #1e1d1d 35%, #e1671c 70%);
    
}
